<div class="container">
    <div class="row">
        <div class="col">
            <app-user-info></app-user-info>
        </div>
        <div class="col">
            <div class="btn-group " role="group" aria-label="Basic outlined example">
                <div >
                    <button *ngFor = 'let status of statuses' type="button" class="btn btn-outline-primary" (click) = 'setTable(status.id)'>{{status.value}}</button>
                </div>
                
                
            </div>
            <div class="row">
                <app-user-orders id="table0" *ngIf="chosenTable==0"></app-user-orders>
                <app-opened-customer-orders *ngIf="chosenTable==1"></app-opened-customer-orders>
                <app-output-orders *ngIf="chosenTable==2"></app-output-orders>
                <app-process-orders *ngIf="chosenTable==3"></app-process-orders>
                <app-returned-orders *ngIf="chosenTable==4"></app-returned-orders>
            </div>
        </div>
        
    </div>
    
</div>
