<p>Открытые вам заказы</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor = "let order of orders; let i = index">{{order.title}} <button class="btn btn-lg btn-outline-primary" (click)="open(content); chooseOrder(i)">Закрыть</button></li>
</ul>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Закрытие заказа</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Название заказа: {{orders[orderToOpen].title}}</p>
    <p>Описание заказа: {{orders[orderToOpen].description}}</p>
    <p>Дедлайн заказа: {{orders[orderToOpen].deadline}}</p>
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Комментарий</label>
        <div class="input-group">
          <textarea [(ngModel)] = "comment" name="comment" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Рейтинг:  </label>
        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" [max]="5"></ngb-rating>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); onSubmit()">Закрыть</button>
  </div>
</ng-template>


